<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Evaluación módulo 2</title>
    <link
      href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <header class="page-title">
      <h1>Buscador de series</h1>
    </header>
    <div class="container">
      <main class="container__main js-container-main">
        <article class="film">
          <img
            class="film-image"
            src="https://www.cinetecamadrid.com/sites/default/files/styles/imagenes_medianas/public/activity/image/Carmen-de-carabanchel-cartel.jpg?itok=4xwMxYsJ"
            alt=""
          />
          <p>Carmen de Carabanchel</p>
        </article>
        <article class="film">
          <img
            class="film-image"
            src="https://www.cinetecamadrid.com/sites/default/files/styles/imagenes_medianas/public/activity/image/Carmen-de-carabanchel-cartel.jpg?itok=4xwMxYsJ"
            alt=""
          />
          <p>Carmen de Carabanchel</p>
        </article>
      </main>
      <aside class="container__aside">
        <input class="js-input container__aside--input" type="text" />
        <button class="js-button button">Search</button>
        <h2>Mis series favoritas</h2>
        <section class="js-fav-films-container">
          <article class="fav-film">
            <img
              class="film-image-result"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQCpc_aVXNysM51USyKUoPqrxZkh-j5pscbP2IGeNYMHMzG7UOB"
              alt=""
            />
            <p>Blade Runner</p>
          </article>
        </section>
      </aside>
    </div>
  </body>
  <script src="./assets/js/main.js"></script>
</html>
