<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Evaluación módulo 2</title>
    <link
      href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&family=Roboto&family=Shadows+Into+Light&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <header class="page-title">
      <h1>Buscador de series</h1>
    </header>
    <div class="container">
      <main class="container__main js-container-main"></main>
      <aside class="container__aside">
        <div class="search-container">
          <input class="js-input container__aside--input" type="text" />
          <button class="js-button  container__aside--button">Search</button>
        </div>
        <h2 class="container__aside--title">Mis series favoritas</h2>

        <section class="js-fav-films-container"></section>
        <div class="container-reset-button">
          <button class="reset-button js-reset-button">
            Borra tus favoritos
          </button>
        </div>
      </aside>
    </div>
  </body>
  <script src="./assets/js/main.js"></script>
</html>
